@model List<MVC_01_Opstart.Models.Product>
@{
    ViewBag.Title = "UpdateProductsList";
}

<h2>UpdateProductsList</h2>

<table class="table table-striped">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>
                @product.ID
            </td>
            <td>
                @product.Name
            </td>
            <td>
                <a href="/Admin/Admin/UpdateProduct/@product.ID">Edit</a>
            </td>
            <td>
                <a href="/Admin/Admin/DeleteProductSubmit/@product.ID" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
    }
</table>