@model MVC_01_Opstart.Models.Product
@{
    ViewBag.Title = "ShowProduct";
}

<h2>@Model.Name</h2>
<hr />
<p>
    @Model.Description
    <img src="~/Content/@Model.Image" alt="Very Picture" />
    <!-- <img src="@@Model.Image" alt="Very Søren Image" /> -->
</p>
<ul>
    <li>
        @Model.Price
    </li>
</ul>