<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link type="text/css" href="~/Content/CSS/Main.css" rel="stylesheet" />
</head>
<body>
    <ul>
        <li>
            <a href="/Home/Index">Index</a>
        </li>
        <li>
            <a href="/Home/Contact">Contact</a>
        </li>
    </ul>
    <hr />
    LAYOUT
    <hr />
    @RenderBody()
    <hr />
    LAYOUT
</body>
</html>