<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link type="text/css" href="~/Content/CSS/Main.css" rel="stylesheet" />
</head>
<body>
    <div class="fullWidth" id="topNav">
        <div id="topNavContent">
            <form action="/Home/SearchSubmit" method="get">
                <input type="text" name="searchQuery" required value="" placeholder="Enter Keyword..." />
                <input type="submit" value="Search" />
            </form>
        </div>
    </div>
    <div class="fullWidth" id="nav">
        <nav>
            <ul>
                <li>
                    <a href="/Home/Index">Home</a> 
                </li>
                <li>
                    <a href="/Home/Products">Products</a>
                </li>
                @foreach (var category in (ViewBag.AllCategories as List<MVC_01_Opstart.Models.Category>))
                {
                    <li>
                        <a href="/Home/ShowProductsByCategory/@category.ID">@category.Name</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
    <div class="fullWidth" id="content">
        <section>
            @RenderBody()
        </section>
    </div>
    <div class="fullWidth" id="footer">
        <footer>
            <div class="buttonInfoBox">
                <h4>Products</h4>
                <ul>
                    @foreach (var product in (ViewBag.Top5Products as List<MVC_01_Opstart.Models.Product>))
                    {
                        <li>
                            <a href="/Home/ShowProduct/@product.ID">@product.Name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="third buttonInfoBox"></div>
            <div class="third buttonInfoBox"></div>
        </footer>
    </div>
</body>
</html>